table {
  border-collapse: collapse;
  width: 400px;
}
td, th {
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
}
td {
  text-align: center;
}
.basketstatus {
  font-size: 23px;
  color: rgb(0, 255, 0);
}
.basketstatus_warning {
  font-size: 30px;
  color: rgb(255, 0, 0);
}