table {
    border-collapse: collapse;
    width: 400px;
}
td, th {
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
}
td {
    text-align: center;
}
.first_lesson {
    color: crimson;
}
.last_lesson {
    color: green;
}