html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    border: 3px dashed black;
    background-color: darkgreen;
}

.header_basket {
    height: 20px;
    background-color: white;
}

.header_title {
    font-family: 'Comic Sans MS', cursive;
    color: white;
}

.header_wraper_title {
    width: 50%;
}

.header_nav {
    width: 50%;
}

.container {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    height: 80px;
}

.product_card {
    display: flex;
    flex-flow: column nowrap;
    height: 150px;
    width: 200px;
    box-shadow: 9px 4px 10px 0px black;
    margin: 5px 10px 5px 10px;
    font-family: 'Comic Sans MS', cursive;
    color: white;
    background-color: #297f88;
    text-align: center;
}

.products_list {
    display: flex;
    flex-flow: row wrap;
}

.product_card p:nth-child(2) {
    margin: 0;
}

.modal {
    display: none;
}

.modal.open {
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 2px solid black;
    background-color: #cbb211;
}

.modal .modal_label {
    margin: 5px 0 5px 0;
    width: 100%;
    position: relative;
    height: 20px;
}

.modal .modal_label label {
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
    font-family: 'Comic Sans MS', cursive;
}

.modal .modal_label input {
    position: absolute;
    top: 0;
    right: 10px;
}

.show_modal {
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS', cursive;
}

.add_product {
    background-color: #ffbf00;
    color: black;
    font-family: 'Comic Sans MS', cursive;
}