html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    border: 3px dashed black;
    background-color: darkgreen;
}

.header_basket {
    height: 20px;
    background-color: white;
}

.header_title {
    font-family: 'Comic Sans MS', cursive;
    color: white;
}

.header_wraper_title {
    width: 50%;
}

.header_nav {
    width: 50%;
}

.container {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    height: 80px;
}

.product_card {
    display: flex;
    flex-flow: column nowrap;
    height: 150px;
    width: 200px;
    box-shadow: 9px 4px 10px 0px black;
    margin: 5px 0 5px 0;
}